model: internlm
ckpt_path: null
num_sampled_tactics: 64

distributed: true
gpu_per_process: 0.9
cpu_per_process: 0.5

config:
  model_params:
    model: 'internlm/internlm2_5-step-prover'
    trust_remote_code: True
    gpu_memory_utilization: 0.9
#    tensor_parallel_size: 2
  sampling_params:
    n: 128
    temperature: 0.7 #(temperature as per paper)
    stop_token_ids: [92542] #(stop token from internlm)
    best_of: 128
    logprobs: 0 #(only return logprob for chosen tokens)